body, html {
  height: 100%;
  margin: 0; 
}

.App {
  height: 100%;
  margin: auto; 
  background-color: white;
  overflow: scroll;
  text-align: center;
  overflow: hidden; 
  width: 100%; 
}

.container {
  height: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  justify-content: center;
  padding: 50px 30px 40px 30px;
  color: white;
  position: relative;
  background-image: url('./assets/outer-space.jpg');
  background-attachment: fixed; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative; */
}

.authed-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-top: 0px; 
}

.header-container {
  /* background-color: #60c657; */
   
}

.header {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  color: #ffaa00;
  /* color: -webkit-linear-gradient(left, #ff8867, #ff52ff); */
}

.emoji {
  font-family: "Segoe UI Emoji";
  color: #ffff3f;  
}

p {
  color: #a0c4ff;
}

.sub-text {
  font-size: 27px;
  font-weight: bold;
  color: #ffff3f;
}

.mint {
  color: #ffff3f;
}

.drop-date {
  color: #ff8500;
  font-weight: bold;
  font-size: 25px;
}

.mint-items {
  color: #ffe8d6;
  font-weight: bold; 
  font-size: 25px; 
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.connect-wallet-button {
  color: white;
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button-container {
  display: flex;
  flex-direction: column;
}

.mint-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  align-self: center;
  margin-top: 10px;
  width: 214px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* padding-bottom: 45px; */
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connected-container input[type='text'] {
  display: inline-block;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
